<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>com.jamfsoftware.fourthWall</string>
        <key>ProgramArguments</key>
        <array>
                <string>/bin/sh</string>
		<string>/Library/Application Support/JAMF/ManagementFrameworkScripts/fourthWall.sh</string>
        </array>
        <key>WatchPaths</key>
        <array>
                <string>/Library/LaunchDaemons/com.jamfsoftware.jamf.daemon.plist</string>
        </array>
</dict>
</plist>
